<!DOCTYPE html>
<html>
<head>
  <style>
    <%= main_css %>
    <%= ext_css %>
    .cell {
      height: <%=miner_game_z%>px;
      width: <%=miner_game_z%>px;
    }
  </style>
  <!-- JAVASCRIPTS  -->
  <script type="text/javascript">
    function newGame() {
      h = document.getElementById('range_h').value;
      w = document.getElementById('range_w').value;
      b = document.getElementById('bombs_c').value;
      z = document.getElementById('zoom_px').value;
      window.location = '/new?h=H&w=W&b=B&z=Z'.replace('H',h).replace('W',w).replace('B',b).replace('Z',z);
    }
    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById('range_h').addEventListener('change', function(){ document.getElementById('current_range_h').innerHTML = this.value; });
      document.getElementById('range_w').addEventListener('change', function(){ document.getElementById('current_range_w').innerHTML = this.value; });
      document.getElementById('bombs_c').addEventListener('change', function(){ document.getElementById('current_bombs_c').innerHTML = this.value; });
      document.getElementById('zoom_px').addEventListener('change', function(){ document.getElementById('current_zoom_px').innerHTML = this.value; });
      <%= "alert('boom!')" if game.boom %>
    });
  </script>
</head>
<body>
  <i>your session key: <%= session_key[0..5] %>...</i>
  <i>total games: <%= MinerGameContainer.get_games.size %></i>

  <h1 class="title_text c_align"><a href="http://github.com/vitalyp" title="Autor..">Miner Game</a></h1>
  <div class="information c_align"><a href="/new" title="Restart">Reset Game</a></div>

  <div class="container c_align">
    <% if game.started %>
      <% game.rows.times do |h| %>
          <% game.cols.times do |w| %>
              <% index = h*game.cols+w %>
              <% opened_cell = game.opened_cell?(index) %>
              <% div_class = opened_cell ? 'cell opened' : 'cell closed' %>
              <div class="<%= div_class %>" onclick="window.location='/clicked/<%= index %>'">
                <span><%= game.map[index] if opened_cell %></span>
              </div>
          <% end %>
          <br/>
      <% end %>
    <% end %>


  </div>

  <div class="information c_align">
    <p class="range_slider">Height: <input type="range" id="range_h" min="1" max="40" value="<%=miner_game_h%>"> <span id="current_range_h"><%=miner_game_h%></span> cells.</p>
    <p class="range_slider">Width : <input type="range" id="range_w" min="1" max="40" value="<%=miner_game_w%>"> <span id="current_range_w"><%=miner_game_w%></span> cells.</p>
    <p class="range_slider">Bombs : <input type="range" id="bombs_c" min="1" max="40" value="<%=miner_game_b%>"> <span id="current_bombs_c"><%=miner_game_b%></span> pieces.</p>
    <p class="range_slider">Zoom :  <input type="range" id="zoom_px" min="5" max="60" value="<%=miner_game_z%>"> <span id="current_zoom_px"><%=miner_game_z%></span> pixels.</p>
    <a onclick='newGame()' href='#'>New Game!</a>
  </div>
  </body>
</html>